<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <title>Document</title>
    </head>
<body>
    <%- include('./partials/navbar') %>

<div class="container mt-4">
    <form action="/blog/add-new" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="coverImage" class="form-label">Cover Image</label>
            <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="coverImage">
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
        </div>
        <div class="mb-3">
            <label for="blogBody" class="form-label" >blog-body</label>
            <textarea class="form-control" id="floatingTextarea" name="blogBody"></textarea>
        </div>
          <div class="mb-3">
           <button type="submit" class="btn-primary btn">submit</button>
          </div>
    </form>
</div> 


    <%- include('./partials/script') %>
</body>
</html>